<html>
<head>
<link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
    <header>
      <div class="container">
        <h1 class="logo">To Do List</h1>
        <strong><nav>
          <ul class="menu">
              <li><a href="/">Incomplete Tasks</a></li>
              <li><a href="/completed">Completed Tasks</a></li>
              <li><a href="/add">Add</a></li>
              <li><a href="/update">Update</a></li>
              <li><a href="/delete">Delete</a></li>
              <li><a href="/status">Change task status</a></li>
          </ul>
          {% block body %}
          {% endblock body %}
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>